@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.swiper-container {
  width: 90vw !important;
  height: 500px !important;
}

.swiper-slide > article {
  opacity: 0.75;
}
.swiper-slide-active {
  transform: scale(1.4) !important;
}
.swiper-slide-active > article {
  opacity: 1 !important;
}
.swiper-container {
  position: relative;
  width: 90vw;
  height: 300px;
}

.swiper-slide {
  height: 300px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms linear;
  transform: scale(0.9);
}

:root {
  --color-primary-light: #e5effa;
  --color-primary-default: #b1cdeb;
  --color-primary-dark: #6b85a4;
  --color-primary-deep: #3d5470;

  --color-secondary-light: #fbebf3;
  --color-secondary-default: #fbd5e7;
  --color-secondary-dark: #e890a5;
  --color-secondary-deep: #d26c84;

  --color-emphasize-light: #ffe9e0;
  --color-emphasize-default: #fdbda2;
  --color-emphasize-dark: #fd9d74;
  --color-emphasize-deep: #ef591a;

  --color-gray-01: #eaeaea;
  --color-gray-02: #bababa;
  --color-gray-03: #787878;
  --color-gray-04: #585858;


